header {
    height: 90px;
    background-color: #2c3e50;
    
}

.coloreheader {
    color: white;
}

ul {
    gap: 5px;
}

.lista {
    display: none;
}

@media screen and (min-width:575px) {
    .lista {
        display: block;
        display: flex;
    }
}

#sezione1 {
    background-color: #1abc9c;
}

.omino {
    text-align: center;
    color: white;
}

#sezione2 h2 {
    text-align: center;
}

#sezione2 .stellina {
    text-align: center;
}